{%extends 'base.html'%}
{%block content%}
<br>
<br>
<form method="POST" action="{% url 'search_events' %}">
    {%csrf_token%}
    <input class="form-control me-2" type="search" placeholder="Search for Events" aria-label="Search" name="searched">
    <br>
    <button class="btn btn-outline-secondary" type="submit">Search</button>
</form>
{%if searched%}
    <h1 class="display-2">You searched "{{searched}}"</h1>
    <br>
    {%for event in events%}
        <div class="card">
            <div class="card-header" style="background-color: #ffb3b3; font-weight: lighter;">
                <strong>{{event}} @ {{event.venue}}</strong>
            </div>
            <div class="card-body">
            <h5 class="card-title">{{event.name}}</h5>
            <p class="card-text">WHAT: {{event.description}}</p>
            <p class="card-text">WHEN: {{event.event_date}}</p>
            <p class="card-text">WHERE: {{event.venue}}</p>
            <p class="card-text">EL CAPITAN: <i>{{event.manager}}</i></p>
            <p class="card-text">{{event.days_until}} From Today</p>
            <p class="card-text">GO TO <a href="{{event.venue.website}}">{{event.venue.website}}</a> FOR MORE DETAILS</p>
            {%if event.approved%}
              <p class="card-text">APPROVED</p>
              {%endif%}
            
            </div>
            {% if user == event.manager%}
            <div class="card-footer text-muted">
                <a href="{% url 'update_event' event.id %}" class="btn btn-outline-secondary btn-small">Update</a>
                <a href="{% url 'delete_event' event.id %}" class="btn btn-outline-danger btn-small">Delete</a>
            </div>
            {%endif%}
        </div>
        <br>
    {%endfor%}

{% comment %} {%else%}
    <h1 class="display-2">You forgot to search for an event</h1> {% endcomment %}
{%endif%}
{%endblock content%}