{%extends 'base.html'%}
{%block content%}
<br>
<br>
<form method="POST" action="{% url 'search_events' %}">
    {%csrf_token%}
    <input class="form-control me-2" type="search" placeholder="Search for Events" aria-label="Search" name="searched">
    <br>
    <button class="btn btn-outline-secondary" type="submit">Search</button>
</form>
{%if searched%}
    <h1 class="display-2">You searched "{{searched}}"</h1>
    <br>
    {%for event in events%}
        {%include 'partials/event.html' with event=event%}
        <br>
    {%endfor%}

{% comment %} {%else%}
    <h1 class="display-2">You forgot to search for an event</h1> {% endcomment %}
{%endif%}
{%endblock content%}