{%extends 'base.html'%}
{%block content%}
{% if user.is_authenticated %}
    {% if user == event.manager%}
    <h1 class="display-2">Update Event</h1>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <br>
        <input type="submit" value="Update" class="btn btn-danger"/>
    </form>  
    {%else%}
    <h2 class="display-3">Access Denied</h2>
    <p class="h4">Only {{event.manager|title}} can modify this event...</p>
    {%endif%}  
{%else%}
    <h1 class="display-3">Sorry, You must be logged in to view this page...</h1>
    <a href="{%url 'login_user'%}">Login</a>
{%endif%}      
{%endblock content%}